@font-face {
	font-family: 'FontAwesome';
	src: url('../public/fonts/fontawesome/fontawesome-webfont.eot');
	src: url('../public/fonts/fontawesome/fontawesome-webfont.eot')
			format('embedded-opentype'),
		url('../public/fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
		url('../public/fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
		url('../public/fonts/fontawesome/fontawesome-webfont.ttf')
			format('truetype'),
		url('../public/fonts/fontawesome/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ProximaNova Bold';
	src: url('../public/fonts/ProximaNovaA-Bold/ProximaNovaA-Bold.eot?cse0yj');
	src: url('../public/fonts/ProximaNovaA-Bold/ProximaNovaA-Bold.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/ProximaNovaA-Bold/ProximaNovaA-Bold.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/ProximaNovaA-Bold/ProximaNovaA-Bold.woff?cse0yj')
			format('woff'),
		url('../public/fonts/ProximaNovaA-Bold/ProximaNovaA-Bold.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova Semi Bold';
	src: url('../public/fonts/Proxima-Nova-Semi-Bold/ProximaNova-Semibold.eot?cse0yj');
	src: url('../public/fonts/Proxima-Nova-Semi-Bold/ProximaNova-Semibold.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/Proxima-Nova-Semi-Bold/ProximaNova-Semibold.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/Proxima-Nova-Semi-Bold/ProximaNova-Semibold.woff?cse0yj')
			format('woff'),
		url('../public/fonts/Proxima-Nova-Semi-Bold/ProximaNova-Semibold.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova Light';
	src: url('../public/fonts/ProximaNovaA-Light/ProximaNovaA-Light.eot?cse0yj');
	src: url('../public/fonts/ProximaNovaA-Light/ProximaNovaA-Light.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/ProximaNovaA-Light/ProximaNovaA-Light.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/ProximaNovaA-Light/ProximaNovaA-Light.woff?cse0yj')
			format('woff'),
		url('../public/fonts/ProximaNovaA-Light/ProximaNovaA-Light.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova Thin';
	src: url('../public/fonts/ProximaNovaA-Thin/ProximaNovaA-Thin.eot?cse0yj');
	src: url('../public/fonts/ProximaNovaA-Thin/ProximaNovaA-Thin.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/ProximaNovaA-Thin/ProximaNovaA-Thin.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/ProximaNovaA-Thin/ProximaNovaA-Thin.woff?cse0yj')
			format('woff'),
		url('../public/fonts/ProximaNovaA-Thin/ProximaNovaA-Thin.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova Regular';
	src: url('../public/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?cse0yj');
	src: url('../public/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/ProximaNova-Regular/ProximaNova-Regular.woff?cse0yj')
			format('woff'),
		url('../public/fonts/ProximaNova-Regular/ProximaNova-Regular.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova Medium';
	src: url('../public/fonts/ProximaNova-Medium/ProximaNova-Medium.eot?cse0yj');
	src: url('../public/fonts/ProximaNova-Medium/ProximaNova-Medium.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/ProximaNova-Medium/ProximaNova-Medium.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/ProximaNova-Medium/ProximaNova-Medium.woff?cse0yj')
			format('woff'),
		url('../public/fonts/ProximaNova-Medium/ProximaNova-Medium.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNovaT Thin';
	src: url('../public/fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot?cse0yj');
	src: url('../public/fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot?cse0yj#iefix')
			format('embedded-opentype'),
		url('../public/fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.ttf?cse0yj')
			format('truetype'),
		url('../public/fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.woff?cse0yj')
			format('woff'),
		url('../public/fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.svg?cse0yj#icomoon')
			format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

.ff-ttn {
	font-family: 'Titillium Web', sans-serif;
}

.ff-pr {
	font-family: 'ProximaNova Regular';
	font-weight: 100;
}

.ff-pm {
	font-family: 'ProximaNova Medium';
}

.ff-pt {
	font-family: 'ProximaNova Thin';
}

.ff-pl {
	font-family: 'ProximaNova Light';
}

.ff-psb {
	font-family: 'ProximaNova Semi Bold';
}

.ff-pb {
	font-family: 'ProximaNova Bold';
}
